<header>
<h1>{{pageTitle}}</h1>
<div id="menu">
    <p><a href="/">Home</a></p>
    <p><a href="/about">AboutUs</a></p>
    <p><a href="/projects">Projects</a></p>
    <p><a href="/bad">Bad</a></p>
</div>
</header>
